body {
	font-family: "Roboto Slab", serif;
}

.card-link {
	opacity: 0;
	overflow: hidden;
	height: 0;
	width: 0;
}

button {
	touch-action: manipulation;
}

.small-label {
	font-size: 0.7em;
}

.logo-font {
	font-family: "Gloria Hallelujah", cursive;
}

.form-font {
	font-size: 0.8rem;
}
